/* Common Styles and Utilities */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: #ff8f0e25;
    height: 1000px;
}


.btn-primary {
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    padding: 20px 25px;
    margin-top: 30px;
}





/* Centered Containers */
.header, section{
    margin: 0 auto;
    width: 75%;
}





/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    /* border: 1px solid black; */
}


.label-list {
    display: flex;
    width: 300px;
    justify-content: space-between;

}


.label-list li {
    list-style: none;
}


.label-list a {
    text-decoration: none;
    color: #424242;
}



/* Banner */
.banner {
    text-align: center;
    /* border: 1px solid black; */
}



.banner-title {
    font-size: 64px;
    font-weight: 700;
}



.section-description {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}



.banner-image {
    margin-top: 50px;
}



.banner-image img {
    width: 100%;
}




/* Features Section */
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 85px;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    width: 50%;
}


.feature-images img {
    width: 100%;
}


.feature-info{
    width: 50%;
    padding-left: 40px;
}



.feature-title {
    font-size: 45px;
}



.feature-custom-grey {
    font-weight: 500;
    color: #727272;
}



.feature-custom-orange {
    color: #FF900E;
}


.feature-description {
    color: #727272;
}